{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column p-2 p-sm-5 justify-content-center align-items-center">
    {% if current_user.is_authenticated %}
    <div class="d-flex gap-5 justify-content-between">
        <h3>Add Patient</h3>
        <a href="{{ url_for('staff_r.manage_patients')}}" class="btn btn-primary">View Patients</a>
    </div>
    
    <form method="POST" class="bg-light shadow rounded p-3 my-5" action="{{ url_for('staff_r.add_patient') }}">
        {{ form.hidden_tag() }}
        <div class="form-group ">
            {{ form.fullname.label }} {{ form.fullname(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            {{ form.id_number.label }} {{ form.id_number(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            {{ form.dob.label }} {{ form.dob(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            {% for sex_choice in form.sex %}
            <tr>
            
            <td>{{ sex_choice.label }} </td>
        <td> {{ sex_choice(class="form-check-input") }}</td>
            </tr>
            {% endfor %}
        </div>
        <div class="form-group mt-2">
            {{ form.address.label }} {{ form.address(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            {{ form.email.label }} {{ form.email(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            {{ form.cell.label }} {{ form.cell(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    {% endif %}
</div>
{% endblock%}
